/**
 * @Author: jecyu
 * @Date: 2017-12-22 2:28:04 pm 
 * @Modified By: jeCyu 
 * @Last Modified time: 2017-12-29 5:16:01 pm 
 */
.main {
  width: 10rem;
  margin: 0;
}

/* swiper*/
.swiper-outer-wrapper {
  /* fullpage */
  height: 100%;
  width: 100%;
}

.swiper-container {
  height: 12rem;
  /* fullpage */
  height: 100%;
  width: 100%;
  margin-bottom: 0.16rem;
}

.swiper-slide {
  height: 100%;
  width: 100%;
  /* banner */
}
.swiper-slide .banner {
  overflow: hidden;
  position: relative;
  width: inherit;
  height: inherit;
}
.swiper-slide .banner .banner-figcaption {
  z-index: 100;
  position: absolute;
  left: 10%;
  top: 60%;
  font-size: 16px;
  color: white;
}
[data-dpr="2"] .swiper-slide .banner .banner-figcaption {
  font-size: 32px;
}
[data-dpr="3"] .swiper-slide .banner .banner-figcaption {
  font-size: 48px;
}
.swiper-slide .banner .banner-figcaption strong {
  font-size: 26px;
  font-weight: 400;
}
[data-dpr="2"] .swiper-slide .banner .banner-figcaption strong {
  font-size: 52px;
}
[data-dpr="3"] .swiper-slide .banner .banner-figcaption strong {
  font-size: 78px;
}
.swiper-slide .banner img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.swiper-pagination {
  z-index: 9999;
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: -1.0666666667rem;
  text-align: center;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 0.64rem;
  height: 0.1066666667rem;
  margin: 0 0.1333333333rem;
  border-radius: 0.1333333333rem;
  -webkit-box-shadow: 0px 1px 2px #555 inset;
          box-shadow: 0px 1px 2px #555 inset;
  background: #999;
  cursor: pointer;
}

/* main section */
.item-section {
  position: relative;
  min-height: 100%;
  border-bottom: 0.16rem solid #e6e6e6;
  color: #747474;
  background: #fff;
}

/* product area */
.item-section.product-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.2rem;
  color: #7b7b7b;
}

.product-area-list {
  height: 1.68rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.16rem;
  font-size: 12px;
  background: #fff;
}
[data-dpr="2"] .product-area-list {
  font-size: 24px;
}
[data-dpr="3"] .product-area-list {
  font-size: 36px;
}
.product-area-list::after, .product-area-list::before {
  content: "";
}
.product-area-list .product-area-item {
  height: 1.68rem;
  width: 3.3333333333rem;
  text-align: center;
}
.product-area-list .product-area-item + .product-area-item {
  border-left: 0.04rem solid #b2b2b2;
}
.product-area-list .product-area-item img {
  width: 0.8533333333rem;
  height: 0.8533333333rem;
}

.area-media {
  position: relative;
  overflow: hidden;
  height: inherit;
  width: inherit;
}
.area-media .media-figcaption {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0rem;
}
.area-media .media-figure {
  position: absolute;
  top: 0rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.area-media .media-figure img {
  margin-top: 0.2666666667rem;
}

/* card */
/* LR layout */
.media {
  height: 4.6666666667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.media .media-figcaption {
  width: 4rem;
  margin: 0 1.3333333333rem;
}
.media .media-title {
  position: relative;
  margin-bottom: 0.6666666667rem;
  font-size: 16px;
}
[data-dpr="2"] .media .media-title {
  font-size: 32px;
}
[data-dpr="3"] .media .media-title {
  font-size: 48px;
}
.media .media-title::before {
  position: absolute;
  bottom: -0.2666666667rem;
  left: 0.0533333333rem;
  width: 0.4rem;
  height: 0.0533333333rem;
  background: #7b7b7b;
  content: "";
}
.media .media-text {
  font-size: 14px;
}
[data-dpr="2"] .media .media-text {
  font-size: 28px;
}
[data-dpr="3"] .media .media-text {
  font-size: 42px;
}
.media .media-figure {
  height: inherit;
  width: inherit;
}
.media .media-figure img {
  height: inherit;
  width: inherit;
}
.media .media-figure.suit-intro {
  margin-right: 1.0666666667rem;
}

/* LR card */
.media-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.media-list .media {
  display: inline-block;
}

.item-section:nth-child(6) {
  border: 0;
}

/* articel link */
.item-section.article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #e6e6e6;
  border: 0;
}
.item-section.article .media {
  position: relative;
  display: inline-block;
  width: 4.8rem;
  height: 6.4533333333rem;
  margin: 0.1333333333rem;
}
.item-section.article .media:nth-child(1) {
  margin-right: 0;
}
.item-section.article .media .media-figure {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}
.item-section.article .media .media-figure img {
  width: inherit;
  height: inherit;
}
.item-section.article .media .media-figcaption {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10%;
  width: 2.6666666667rem;
  margin: 0;
  text-align: center;
  color: #b2b2b2;
}
.item-section.article .media .media-figcaption .media-title::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* LR card */
.item-section:nth-child(4) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 6.16rem;
  margin-left: -0.1333333333rem;
  background: #e6e6e6;
}
.item-section:nth-child(4) .card {
  overflow: hidden;
  position: relative;
  width: 4.9333333333rem;
  height: 100%;
  margin-left: 0.1333333333rem;
  text-align: center;
  background: #fff;
  padding-top: 0.6666666667rem;
}
.item-section:nth-child(4) .card .media-figure {
  position: absolute;
  bottom: -0.1333333333rem;
}
.item-section:nth-child(4) .card .media-figure img {
  width: 3.7333333333rem;
  height: 4.48rem;
}
.item-section:nth-child(4) .card:nth-child(1) .media-figure {
  position: absolute;
  left: 40%;
  -webkit-transform: translateX(-40%);
      -ms-transform: translateX(-40%);
          transform: translateX(-40%);
  right: 0;
}
.item-section:nth-child(4) .card:nth-child(2) .media-figure {
  position: absolute;
  right: 0;
}
.item-section:nth-child(4) .card .media-title {
  z-index: 500;
  position: relative;
  font-size: 18px;
  margin-bottom: 0.6666666667rem;
}
[data-dpr="2"] .item-section:nth-child(4) .card .media-title {
  font-size: 36px;
}
[data-dpr="3"] .item-section:nth-child(4) .card .media-title {
  font-size: 54px;
}
.item-section:nth-child(4) .card .media-title::before {
  position: absolute;
  bottom: -0.2666666667rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0.4rem;
  height: 0.0533333333rem;
  background: #7b7b7b;
  content: "";
}
