/**
 * @Author: jecyu
 * @Date: 2017-12-21 11:39:17 am 
 * @Modified By: jeCyu 
 * @Last Modified time: 2017-12-21 2:14:20 pm 
 */
.main {
  width: 10rem;
}

/* banner */
.banner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.2666666667rem;
  background: lightblue url(../images/banner-1.png) no-repeat;
  background-size: cover;
}
.banner .banner-title {
  position: relative;
  font-size: 18px;
  color: #fff;
  /* underline */
}
[data-dpr="2"] .banner .banner-title {
  font-size: 36px;
}
[data-dpr="3"] .banner .banner-title {
  font-size: 54px;
}
.banner .banner-title::before {
  content: '';
  position: absolute;
  bottom: -40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0.0666666667rem;
  width: 0.6133333333rem;
  border-radius: 0.0666666667rem;
  background: #fff;
}

/* main section */
.item-section {
  position: relative;
  min-height: 100%;
  padding: 0.8rem;
  color: #747474;
  border-bottom: 0.16rem solid #e6e6e6;
  border-top: 0.16rem solid #e6e6e6;
}
.item-section .iconfont {
  font-size: 16px;
}
[data-dpr="2"] .item-section .iconfont {
  font-size: 32px;
}
[data-dpr="3"] .item-section .iconfont {
  font-size: 48px;
}

/* personal information */
.info-list .info-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.1333333333rem 0;
  border-bottom: 0.0133333333rem solid #747474;
  font-size: 16px;
}
[data-dpr="2"] .info-list .info-item {
  font-size: 32px;
}
[data-dpr="3"] .info-list .info-item {
  font-size: 48px;
}
.info-list .info-item .item-title {
  display: inline-block;
}
.info-list .info-item .item-link {
  text-decoration: none;
}
