/**
 * @Author: jecyu
 * @Date: 2017-12-23 2:00:42 pm 
 * @Modified By: jeCyu 
 * @Last Modified time: 2017-12-25 11:17:43 am 
 */
.main {
  width: 10rem;
}

/* banner */
.banner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.16rem;
  height: 2.2666666667rem;
  background: lightblue url(../images/banner-1.png) no-repeat;
  background-size: cover;
}
.banner .banner-title {
  position: relative;
  font-size: 18px;
  color: #fff;
  /* underline */
}
[data-dpr="2"] .banner .banner-title {
  font-size: 36px;
}
[data-dpr="3"] .banner .banner-title {
  font-size: 54px;
}
.banner .banner-title::before {
  content: "";
  position: absolute;
  bottom: -40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0.0666666667rem;
  width: 0.6133333333rem;
  border-radius: 0.0666666667rem;
  background: #fff;
}

/* main section */
.item-section {
  position: relative;
  min-height: 100%;
  color: #747474;
  background: #fff;
  border-bottom: 0.16rem solid #e6e6e6;
}

.last-content {
  width: 10rem;
  text-align: center;
  margin: 0 auto;
}

.content-pic {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 6.16rem;
  width: 10rem;
  margin: 0 auto;
}

.content-pic .pic {
  margin-top: 0.1333333333rem;
  height: inherit;
  width: 4.8rem;
  background: url("../images/sa-1.jpg") no-repeat;
  background-size: 100% 100%;
}

.content-pic:nth-child(1) .pic:nth-child(1) {
  margin-right: 0.0666666667rem;
  margin-left: 0.1333333333rem;
  background: url("../images/sa-1.jpg") no-repeat;
  background-size: 100% 100%;
}
.content-pic:nth-child(1) .pic:nth-child(2) {
  margin: 0.1333333333rem 0.1333333333rem 0 0.0666666667rem;
  background: url("../images/sa-2.jpg") no-repeat;
  background-size: 100% 100%;
}
.content-pic:nth-child(3) .pic:nth-child(1) {
  margin-right: 0.0666666667rem;
  margin-left: 0.1333333333rem;
  background: url("../images/sa-3.jpg") no-repeat;
  background-size: 100% 100%;
}
.content-pic:nth-child(3) .pic:nth-child(2) {
  margin: 0.1333333333rem 0.1333333333rem 0 0.0666666667rem;
  background: url("../images/sa-4.jpg") no-repeat;
  background-size: 100% 100%;
}
.content-pic:nth-child(5) .pic:nth-child(1) {
  margin-right: 0.0666666667rem;
  margin-left: 0.1333333333rem;
  background: url("../images/sa-5.jpg") no-repeat;
  background-size: 100% 100%;
}
.content-pic:nth-child(5) .pic:nth-child(2) {
  margin: 0.1333333333rem 0.1333333333rem 0 0.0666666667rem;
  background: url("../images/sa-6.jpg") no-repeat;
  background-size: 100% 100%;
}

.content-text {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 3.7333333333rem;
  width: inherit;
  margin: 0 auto;
  font-size: 12px;
}
[data-dpr="2"] .content-text {
  font-size: 24px;
}
[data-dpr="3"] .content-text {
  font-size: 36px;
}
.content-text .title {
  font-size: 16px;
  color: #234755;
  margin: 0 0.1333333333rem;
  text-align: left;
}
[data-dpr="2"] .content-text .title {
  font-size: 32px;
}
[data-dpr="3"] .content-text .title {
  font-size: 48px;
}
.content-text .date {
  font-size: 12px;
  margin: 0.1333333333rem 0.1333333333rem;
  text-align: left;
}
[data-dpr="2"] .content-text .date {
  font-size: 24px;
}
[data-dpr="3"] .content-text .date {
  font-size: 36px;
}

.content-text div {
  margin-top: 30px;
  height: inherit;
  width: 450px;
}
